<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Modificar Empleado</mat-card-title>
    <form
      [formGroup]="ownerForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="updateOwner(ownerForm.value)"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-card-content>
          <mat-form-field>
              <input matInput type="text" placeholder="DNI:" formControlName="dni" id="dni" readonly />
              <mat-hint align="end">DNI no se puede modificar</mat-hint>
            </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Nombre:"
            formControlName="nombre"
            id="nombre"
          />
          <mat-hint align="end">no se admiten mas 60 caracteres</mat-hint>
          <mat-error *ngIf="hasError('nombre', 'required')"
            >nombre requerido</mat-error
          >
          <mat-error *ngIf="hasError('nombre', 'maxlength')"
            >has introducido mas de 60 caracteres</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="apellido"
            formControlName="apellido"
          />
          <mat-hint align="end">no se admiten mas 60 caracteres</mat-hint>
          <mat-error *ngIf="hasError('apellido', 'required')"
            >apellido requerido</mat-error
          >
          <mat-error *ngIf="hasError('apellido', 'maxlength')"
            >has introducido mas de 60 caracteres</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="email"
            formControlName="email"
            readonly 
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="telefono"
            formControlName="telefono"
          />
          <mat-hint align="end">no se admiten mas 60 caracteres</mat-hint>
          <mat-error *ngIf="hasError('telefono', 'required')"
            >telefono requerido</mat-error
          >
          <mat-error *ngIf="hasError('telefono', 'maxlength')"
            >has introducido mas de 60 caracteres</mat-error
          >
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!ownerForm.valid">
          Update
        </button>
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
