<section fxLayout="column wrap">
  <div fxFlexAlign="center">
    <p>{{tabsNombres}}</p>
  </div>

  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Generar Factura">
      <app-facturas></app-facturas>
    </mat-tab>
    <mat-tab label="buscador facturas">
      <app-buscar-facturas-id></app-buscar-facturas-id>
    </mat-tab>
    <mat-tab label="buscador facturas por cliente">
      <app-buscar-facturas-cliente></app-buscar-facturas-cliente>
    </mat-tab>
    <mat-tab label="Producto">
      <app-productos></app-productos>
    </mat-tab>
  </mat-tab-group>
</section>